body  {
	margin: 0;
	line-height: 1.6;
	font-family: 'Philosopher', sans-serif;
	min-width : 600px;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

p {
	margin : 0 auto;
}

/*header*/
.header {
	display : static;
	width : 100%;
	background-color : #DBB84D;
	top: 0;
	left: 0;
	right: 0;
}

.header__container {
	width: 100%;
	margin: 0 auto;
	
	align-items: center;
}

.header__main{
	text-align:left;
	text-transform : uppercase;
	color : #fff;
	font-size : 48px;
	padding-left : 10px;
}

/*nav*/
.nav {
	width: 100%;
	margin: 0 auto;
	padding-left : 10px;
	display : block;

	text-transform: uppercase;
	font-size: 18px;
	align-items : center;
}

.sup {
	font-size : 12px;
	color : #ff0000;
}

/* INTRODUCTION */
.introduction {
	width : 100%;
	background: url("./images/main.jpg") center repeat-y fixed;
}

.intro__container {
	width : 100%;
	max-height : 100%;
	min-height : 100vh;
	display : flex;
	margin : 0px 0px;
}

.intro__inner {
	background-color : #523D00;
	background : rgba(255, 255, 255, 0.4);
	padding : 20px 25px;
	width : 100%;
	display : block;
	border-left : 10px solid #DBB84D;
	border-right : 10px solid #DBB84D;
}

.intro__section {
	height : 160px;
}

.other__info {
	width : 50%;
	padding : 10px 20px;
	border-right : 10px solid #DBB84D;
}

/* RECORDS */
.records__image {
	width : 150px;
	height : 150px;
	
	border-radius : 50%;
	opacity : 0.8;
}

.rec__link {
	color: #291F00;
	font-size : 24px;
	font-weight : bold;
	text-transform : uppercase;
	text-decoration: none;
	transition : color 0.25s linear;
	
	
	padding-left : 20px;
	padding-right : 20px;
	text-align : center;
	
	margin : 15px 0px 0px;
}

.rec__text {
	color : #0;
	font-size : 18px;
	padding-left : 180px;
	font-weight : bold;
	
	margin : 5px 0px 0px;
}

.rec__link:hover {
	color : #375353;
	border : 4px solid #000000; 
	transform : translateY(-4px) translateX(-4px);
}

/* FOOTER */
footer {
	display : static;
	
	color : #fff;
	font-size : 30px;
	font-weight : bold;
	background-color: #DBB84D;
	padding : 5px 0px 5px 10px;
}

@media screen and (min-width: 1000px) {
    .rec__link {
        font-size: 24px;
    }
	.rec__text {
        font-size: 18px;
    }
}

@media screen and (min-width: 850px) and (max-width: 999px) {
    .rec__link {
        font-size: 22px;
    }
	.rec__text {
        font-size: 17px;
    }
}

@media screen and (min-width: 700px) and (max-width: 849px) {
    .rec__link {
        font-size: 20px;
    }
	.rec__text {
        font-size: 16px;
    }
}

@media screen and (max-width: 699px) {
    .rec__link {
        font-size: 17px;
    }
	.rec__text {
        font-size: 13px;
    }
}




