body  {
	margin: 0;
	line-height: 1.6;
	min-width : 450px;
	font-family: 'Philosopher', sans-serif;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

p {
	margin : 0 auto;
}

/*header*/
.header {
	display : static;
	width : 100%;
	background-color : #DBB84D;
	top: 0;
	left: 0;
	right: 0;
}

.header__container {
	width: 100%;
	margin: 0 auto;
	
	align-items: center;
}

.header__main{
	text-align:left;
	text-transform : uppercase;
	color : #fff;
	font-size : 48px;
	padding-left : 10px;
}

/*nav*/
.nav {
	width: 100%;
	margin: 0 auto;
	padding-left : 10px;
	display : block;

	text-transform: uppercase;
	font-size: 18px;
	align-items : center;
}

.sup {
	font-size : 12px;
	color : #ff0000;
}

/* INTRODUCTION */
.introduction {
	width : 100%;
	background: url("./images/main.jpg") center repeat-y fixed;
}

.intro__container {
	width : 100%;
	max-height : 100%;
	display : flex;
	margin : 0px 0px;
}

.intro__inner {
	background-color : #523D00;
	background : rgba(255, 255, 255, 0.4);
	padding : 20px 25px;
	width : 100%;
	display : block;
	border-left : 10px solid #DBB84D;
	border-right : 10px solid #DBB84D;
}

.intro__section {
	font-size : 24px;
	text-align : left;
	line-height : 1.15;
	text-indent : 30px;
	padding : 5px 0px 15px 0px;
}

.intro__recordshot__h1 {
	color : #FF0000;
	font-weight : bold;
	text-align : center;
}

.intro__recordshot__h2 {
	text-indent : 0px;
}

.intro__recordshot__h3 {
	font-size : 20px;
}

.intro__recordshot__img {
	display : block;
	max-width : 100%;
	padding : 15px 0px;
}

.intro__article {
	font-size : 18px;
	text-align : left;
	padding : 10px 0px 10px 0px;
	line-height : 1.1;
	text-indent : 20px;
}

.intro__article__list {
	list-style: none;
	text-indent: -1em;
}

.intro__article__list::before {
	content: '\27ba'; 
    padding-right: 5px;
    color: red;
}

.other__info {
	width : 50%;
	padding : 10px 20px;
	border-right : 10px solid #DBB84D;
}

/* FOOTER */
footer {
	display : static;
	
	color : #fff;
	font-size : 30px;
	font-weight : bold;
	background-color: #DBB84D;
	padding : 5px 0px 5px 10px;
}




